In [1]:
import pandas as pd
import os

In [2]:
os.listdir('..')

['cereal.csv',
 'cleaning-1',
 'cleaning-2',
 'data',
 'README.md',
 'regression',
 'sql']

In [4]:
df = pd.read_csv('../cereal.csv')

In [18]:
import random
import numpy as np

missing_df = df.copy()

for _ in range(30):
    i = random.randint(0, df.shape[0] - 1)
    j = random.randint(2, df.shape[1] - 1)
    missing_df.iloc[i, j] = np.nan

In [19]:
missing_df.isna().sum().sum()

30

In [20]:
df.shape, missing_df.dropna().shape

((77, 16), (53, 16))

In [21]:
# :(

missing_df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4.0,1.0,130.0,10.0,5.0,NaN,280.0,25.0,3.0,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120.0,3.0,5.0,15.0,2.0,8.0,8.0,135.0,0.0,3.0,1.0,1.00,33.983679
2,All-Bran,K,C,70.0,4.0,1.0,260.0,9.0,7.0,5.0,320.0,25.0,3.0,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50.0,4.0,0.0,140.0,14.0,8.0,0.0,330.0,25.0,3.0,1.0,NaN,93.704912
4,Almond Delight,R,C,110.0,2.0,2.0,200.0,1.0,14.0,8.0,-1.0,25.0,3.0,1.0,0.75,34.384843

In [ ]:
# would it be better to fill 0, fill mean, fill median, or fill with knn?

# something to explore someday. I think I'm done with these challenges for now