In [1]:
import psycopg2
import pandas as pd
pd.options.display.max_columns = 999

In [2]:
user = 'read_user'
password = ''
ip = '192.168.86.24'
port = '5432'
dbname = 'chess_db'

# Day 1

In [3]:
db_connection_string = 'postgresql://{}:{}@{}:{}/{}'

with psycopg2.connect(db_connection_string.format(user,
                                                  password,
                                                  ip,
                                                  port,
                                                  dbname)) as con:
    cursor = con.cursor()

    sql = """SELECT * from chess_games
                     WHERE player != 'siddhartha13';
                  """
    cursor.execute(sql)
    colnames = [desc.name for desc in cursor.description]
    results = cursor.fetchall()

In [4]:
df = pd.DataFrame.from_records(results, columns=colnames)

In [5]:
df.head()

,id,event_type,result,round,game_link,termination,chess_variant,black_elo_tentative,white_elo_tentative,player,opponent,player_color,opponent_color,player_rating_diff,opponent_rating_diff,player_result,opponent_result,time_control_category,datetime_played,starting_time,increment,in_arena,rated_casual,player_elo,opponent_elo,queen_exchange,player_castling_side,opponent_castling_side,lichess_opening,opening_played
0,3,Rated Blitz game,1-0,-,https://lichess.org/ZhmhCY7m,Time forfeit,Standard,Unknown,Unknown,Grahtbo,moreman28,white,black,11.0,-11.0,Win,Loss,blitz,2019-07-25 15:22:54,180,0,Not in arena,Rated,1460.0,1495.0,Queen exchange,kingside,No castling,St. George Defense,B00
1,4,Rated Blitz game,0-1,-,https://lichess.org/7SX80GTy,Normal,Standard,Unknown,Unknown,Grahtbo,krarr,black,white,11.0,-11.0,Win,Loss,blitz,2019-07-25 15:08:41,180,0,Not in arena,Rated,1449.0,1462.0,No queen exchange,kingside,kingside,Hungarian Opening,A00
2,5,Rated Blitz game,1-0,-,https://lichess.org/bIyC1c5J,Normal,Standard,Unknown,Unknown,Grahtbo,cefh,white,black,10.0,-10.0,Win,Loss,blitz,2019-07-25 15:07:27,180,0,Not in arena,Rated,1439.0,1444.0,No queen exchange,No castling,No castling,Latvian Gambit,C40
3,6,Rated Blitz game,1/2-1/2,-,https://lichess.org/cZXuLZ0B,Normal,Standard,Unknown,Unknown,Grahtbo,krds,white,black,0.0,0.0,Draw,Draw,blitz,2019-07-25 14:59:00,300,0,Not in arena,Rated,1439.0,1442.0,Queen exchange,queenside,No castling,Four Knights Game,C46
4,7,Rated Blitz game,0-1,-,https://lichess.org/oRuOpiWj,Normal,Standard,Unknown,Unknown,Grahtbo,hugotrasher77-7,black,white,9.0,-9.0,Win,Loss,blitz,2019-07-25 14:51:48,180,0,Not in arena,Rated,1430.0,1405.0,No queen exchange,kingside,kingside,"Latvian Gambit Accepted, Foltys Variation",C40

In [6]:
db_connection_string = 'postgresql://{}:{}@{}:{}/{}'

with psycopg2.connect(db_connection_string.format(user,
                                                  password,
                                                  ip,
                                                  port,
                                                  dbname)) as con:
    cursor = con.cursor()

    sql = """SELECT * from chess_games
                     WHERE player_rating_diff = 5;
                  """
    cursor.execute(sql)
    colnames = [desc.name for desc in cursor.description]
    results = cursor.fetchall()

In [7]:
df = pd.DataFrame.from_records(results, columns=colnames)
df.head()

,id,event_type,result,round,game_link,termination,chess_variant,black_elo_tentative,white_elo_tentative,player,opponent,player_color,opponent_color,player_rating_diff,opponent_rating_diff,player_result,opponent_result,time_control_category,datetime_played,starting_time,increment,in_arena,rated_casual,player_elo,opponent_elo,queen_exchange,player_castling_side,opponent_castling_side,lichess_opening,opening_played
0,227,Rated Blitz game,0-1,-,https://lichess.org/0aIdHm54,Normal,Standard,Unknown,Unknown,Grahtbo,cvc1106,black,white,5.0,-5.0,Win,Loss,blitz,2019-07-15 13:44:08,180,0,Not in arena,Rated,1362.0,1182.0,No queen exchange,kingside,kingside,Van't Kruijs Opening,A00
1,231,Rated Blitz game,1-0,-,https://lichess.org/Z4wOMThx,Normal,Standard,Unknown,Unknown,Grahtbo,apergmc,white,black,5.0,-4.0,Win,Loss,blitz,2019-07-15 13:23:41,180,0,Not in arena,Rated,1364.0,1147.0,No queen exchange,kingside,No castling,Englund Gambit Complex Declined,A40
2,357,Rated Blitz game,1-0,-,https://lichess.org/ZeIw0zxA,Normal,Standard,Unknown,Unknown,Grahtbo,mykaze710,white,black,5.0,-5.0,Win,Loss,blitz,2019-07-08 05:16:26,180,0,Not in arena,Rated,1330.0,1131.0,No queen exchange,kingside,No castling,King's Pawn Game: Beyer Gambit,C21
3,358,Rated Blitz game,0-1,-,https://lichess.org/xXVbiSOE,Normal,Standard,Unknown,Unknown,Grahtbo,mykaze710,black,white,5.0,-5.0,Win,Loss,blitz,2019-07-08 05:13:00,180,0,Not in arena,Rated,1325.0,1136.0,Queen exchange,No castling,queenside,Sicilian Defense,B20
4,491,U1500 SuperBlitz Arena,0-1,-,https://lichess.org/6WEd8iKS,Normal,Standard,Unknown,Unknown,Grahtbo,Limey89,black,white,5.0,-5.0,Win,Loss,blitz,2019-06-16 21:37:25,180,0,In arena,Rated,1383.0,1193.0,No queen exchange,kingside,kingside,Sicilian Defense: Open,B32

# Day 2

In [8]:
# using group by, having, and aggregate functions like count/avg

db_connection_string = 'postgresql://{}:{}@{}:{}/{}'

with psycopg2.connect(db_connection_string.format(user,
                                                  password,
                                                  ip,
                                                  port,
                                                  dbname)) as con:
    cursor = con.cursor()

    sql = """SELECT player, count(opponent) from chess_games
                     group by player;
                  """
    cursor.execute(sql)
    colnames = [desc.name for desc in cursor.description]
    results = cursor.fetchall()
df = pd.DataFrame.from_records(results, columns=colnames)
df.head()

         player  count
0  siddhartha13     23
1       Grahtbo   8315
2     arsenic14      6

In [9]:
db_connection_string = 'postgresql://{}:{}@{}:{}/{}'

with psycopg2.connect(db_connection_string.format(user,
                                                  password,
                                                  ip,
                                                  port,
                                                  dbname)) as con:
    cursor = con.cursor()

    sql = """SELECT player, opponent, count(game_link) from chess_games
                     group by player, opponent
                     having count(game_link) > 1;
                  """
    cursor.execute(sql)
    colnames = [desc.name for desc in cursor.description]
    results = cursor.fetchall()
df = pd.DataFrame.from_records(results, columns=colnames)
df.head()

    player      opponent  count
0  Grahtbo         jj100      2
1  Grahtbo        VanOgo      2
2  Grahtbo    aristobulo      4
3  Grahtbo       iaonder      2
4  Grahtbo  remazomo1989      3

# Day 3

In [10]:
db_connection_string = 'postgresql://{}:{}@{}:{}/{}'

with psycopg2.connect(db_connection_string.format(user,
                                                  password,
                                                  ip,
                                                  port,
                                                  dbname)) as con:
    cursor = con.cursor()

    sql = """SELECT player, avg(coalesce(player_rating_diff, 0)) from chess_games
                     group by player
                     order by avg desc;
                  """
    cursor.execute(sql)
    colnames = [desc.name for desc in cursor.description]
    results = cursor.fetchall()
df = pd.DataFrame.from_records(results, columns=colnames)
df.head()

         player       avg
0       Grahtbo       NaN
1  siddhartha13  0.043478
2     arsenic14  0.000000

In [11]:
db_connection_string = 'postgresql://{}:{}@{}:{}/{}'

with psycopg2.connect(db_connection_string.format(user,
                                                  password,
                                                  ip,
                                                  port,
                                                  dbname)) as con:
    cursor = con.cursor()

    sql = """SELECT player, avg(player_rating_diff),
                    to_char(datetime_played, 'Dy') as day_of_week
                    from chess_games
                    where player_rating_diff != 'nan' and player = 'Grahtbo'
                    group by player, day_of_week
                    order by avg desc;
                  """
    cursor.execute(sql)
    colnames = [desc.name for desc in cursor.description]
    results = cursor.fetchall()
df = pd.DataFrame.from_records(results, columns=colnames)
df.head(10)

    player       avg day_of_week
0  Grahtbo  0.556670         Sun
1  Grahtbo  0.195465         Thu
2  Grahtbo  0.091070         Mon
3  Grahtbo  0.025100         Wed
4  Grahtbo -0.048374         Tue
5  Grahtbo -0.103342         Fri
6  Grahtbo -0.436857         Sat

# Day 4

In [12]:
db_connection_string = 'postgresql://{}:{}@{}:{}/{}'

with psycopg2.connect(db_connection_string.format(user,
                                                  password,
                                                  ip,
                                                  port,
                                                  dbname)) as con:
    cursor = con.cursor()

    sql = """WITH tbo_games as (
                SELECT * from chess_games
                    where player_rating_diff != 'nan' and player = 'Grahtbo'
                    )
    
                SELECT player, avg(player_rating_diff),
                    to_char(datetime_played, 'Dy') as day_of_week
                    from tbo_games
                    group by player, day_of_week
                    order by avg desc;
                  """
    cursor.execute(sql)
    colnames = [desc.name for desc in cursor.description]
    results = cursor.fetchall()
df = pd.DataFrame.from_records(results, columns=colnames)
df.head(10)

    player       avg day_of_week
0  Grahtbo  0.556670         Sun
1  Grahtbo  0.195465         Thu
2  Grahtbo  0.091070         Mon
3  Grahtbo  0.025100         Wed
4  Grahtbo -0.048374         Tue
5  Grahtbo -0.103342         Fri
6  Grahtbo -0.436857         Sat

# Day 5

In [13]:
db_connection_string = 'postgresql://{}:{}@{}:{}/{}'

with psycopg2.connect(db_connection_string.format(user,
                                                  password,
                                                  ip,
                                                  port,
                                                  dbname)) as con:
    cursor = con.cursor()

    sql = """WITH tbo_games as (
                SELECT * from chess_games
                left join eco_codes on chess_games.opening_played = eco_codes.eco_code
                    where player_rating_diff != 'nan' and player = 'Grahtbo'
                    )
    
                SELECT player, avg(player_rating_diff),
                    eco_code, opening_name
                    from tbo_games
                    group by player, eco_code, opening_name
                    order by avg desc;
                  """
    cursor.execute(sql)
    colnames = [desc.name for desc in cursor.description]
    results = cursor.fetchall()
df = pd.DataFrame.from_records(results, columns=colnames)
df.head(10)

    player   avg eco_code                             opening_name
0  Grahtbo  13.0      C71                                Ruy Lopez
1  Grahtbo  13.0      A09                             Reti Opening
2  Grahtbo  12.0      A85                     Dutch, with c4 & Nc3
3  Grahtbo  12.0      D34        Queen's Gambit Declined, Tarrasch
4  Grahtbo  11.0      B33                                 Sicilian
5  Grahtbo  10.0      C49                             Four Knights
6  Grahtbo   9.0      B04               Alekhine's Defense, Modern
7  Grahtbo   9.0      A51                          Budapest Gambit
8  Grahtbo   9.0      C36  King's Gambit Accepted, Abbazia Defense
9  Grahtbo   9.0      B57                                 Sicilian